<section class="block-service">
  <img class="img-fluid" src="https://placehold.it/1200x500" alt="img">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="panel">
          <div class="panel__header">
            <h2 class="title">SERVICE</h2>
            <p class="sub-title">事業内容</p>
          </div>
          <div class="panel__body">
            <p class="description">会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。</p>
            <a class="btn btn-main" href="#">MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>