<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Corporate</title>

<!-- scrolltrigger -->
<script type="text/javascript" src="../assets/scrolltrigger/ScrollTrigger.min.js"></script>

<!-- parallax -->
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

<!-- lazyload -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js"></script>

<!-- style,js -->
<link rel="stylesheet" href="../assets/corporate.css">
<script src="../assets/base.js"></script>