<header class="block-header">
  <div class="container">
    <div class="logo">
      <h1>LOGO</h1>
    </div>
    <div class="btn-svg d-lg-none ml-auto" data-toggle="drawer" data-target="drawer-right">
      <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </div>
    <div id="drawer-right">
      <nav class="drawer-mobile drawer-right">
        <div class="btn-svg d-lg-none" data-toggle="drawer" data-target="drawer-right">
          <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
        </div>
        <ul class="nav">
          <li><a href="#">menu</a></li>
          <li><a href="#">menu</a></li>
          <li><a href="#">menu</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>