/*
* === block-header ===
*/
.block-header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // drawer
  .drawer-mobile {
    background-color: #fff;
    .btn-svg {
      padding: 15px;
    }
  }
  .nav {
    margin: 0;
    li {
      padding: 5px 10px;
    }
    a {
      &:hover {
        color: $color_link_hover;
      }
    }
    @media (max-width: 991.98px) {
      display: block;
      padding: 15px;
      li {
        padding: 5px 0;
      }
    }
  }
}