/*
* === block-service ===
*/
.block-service {
  .block-service__content {
    .title{
      margin: 0;
      font-size: 3rem;
      font-weight: bold;
    }
    .description{
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }
}