<section class="block-faq block-padding">
  <div class="block-header">
    <div class="section-title">
      <h1 class="title">FAQ</h1>
      <p class="sub-title">よくある質問</p>
    </div>
  </div>
  <div class="block-body">
    <div class="container">
      {% for i in (1..6) %}
      <div id="faq-{{i}}" class="block-faq__row">
        <div class="block-faq__q">
          <p class="title">Q</p>
          <p class="text">質問の内容</p>
          <p class="plus" data-toggle="switch" data-target="faq-{{i}}">＋</p>
          <p class="minus" data-toggle="switch" data-target="faq-{{i}}">-</p>
        </div>
        <div class="block-faq__a">
          <p class="title">A</p>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, saepe. Assumenda qui, consequatur quasi at cumque quidem saepe quia praesentium animi maiores.</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>