<section class="block-work block-padding">
  <div class="block-header">
    <div class="section-title">
      <h1>WORK</h1>
      <p>実績</p>
    </div>
  </div>
  <div class="block-body">
    <div class="container">
      <div class="row">
        {% for i in (1..6) %}
        <div class="col-6 col-lg-4">
          <div class="block-work__image">
            <img class="img-fluid lazy" data-src="https://placehold.it/800x400" alt="image">
          </div>
          <div class="block-work__content">
            <h2>1.サービス内容</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, saepe. Assumenda qui, consequatur quasi at cumque quidem saepe quia praesentium animi maiores.</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="block-work__button">
        <a class="btn btn-primary" href="#">一覧を見る</a>
      </div>
    </div>
  </div>
</section>