/*
* === block ===
*/
.block-padding{
  padding-top: 80px;
  padding-bottom: 80px;
}
.block-body{
  margin-top: 40px;
}

@import 'c-title';

@import 'block-footer';
@import 'block-header';
@import 'block-work';